h1 {
    text-align: center;
}

.tabela-moda {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    color: aliceblue;
}

.header-tabela {
    background-color: #BB86FC;
}

.row-produto {
    background-color: #424250;
}

.item {
    padding: 10px;
    border: solid 2px #18aaed;
    width: 90px
}
